* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f2f2f2 !important;
}

#page {
	overflow: hidden;
	margin-top: 20px;
	background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#top-color {
	height: 10px;
	background: blue;
	background-color: #3498DB;
}

#header {
	overflow: hidden;
	height: 100px;
	background-color: #E4F1FE;
}

#logo {
	font-family: arial;
	color: #444;
	margin-top: 37px;
	font-size: 35px;
}

#content-block {
	margin: 40px;
}

#title-page {
	font-family: arial;
	font-size: 20px;
	color: #555;
}

.submit-button {
	display: block !important;
	margin: 0 auto !important;
	margin-top: 10px !important;
}

.full-width {
	width: 96%;
}

#question-container {
	display: none;
}

#text-question {
	margin-bottom: 15px !important;
	font-family: arial;
	font-size: 17px;
	color: #555;
}

.alert {
	display: none;
	margin-top: 20px;
}

.result {
	font-family: arial;
	font-size: 17px;
	color: #444;
	margin-top: 4px;
	text-align: center;
}

.result span {
	font-weight: bold;
}

#table-container {
	display: none;
	margin-top: 20px;
}

#result-block {
	display: none;
}

.del {
	text-decoration: underline;
	display: block;
	cursor: pointer;
	z-index: 100;
}



